* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0c0b08;
}
ul li {
  list-style: none;
  text-decoration: none;
}
a {
  list-style: none;
  text-decoration: none;
}
.flex-side {
  display: flex;
  align-items: center;
}
.space {
  justify-content: space-between;
}
.container {
  max-width: 1708px;
  margin: 0 auto;
}
.header-inner {
  padding: 32px 0px;
}

nav ul {
  display: flex;
  gap: 35px;
  color: #fff;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}
nav a {
  color: #fff;
}
.buttons a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
.buttons {
  display: flex;
  gap: 100px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hashtags p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-style: 18px;
}
.hashtags {
  display: flex;
  gap: 40px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.content-side p {
  color: #fff;
  font-family: "Cormorant Upright", serif;
  font-size: 26px;
}
h1 {
  font-family: "Cormorant Upright", serif;
  color: #d6cf95;
  font-size: 104px;
  margin: 0;
  margin-top: 10px;
  line-height: 130%;
  letter-spacing: 4.3px;
}
.content-side .description {
  color: #aaaaaa;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 37px;
  line-height: 175%;
}
.menu-button {
  padding: 20px 57px;
  color: #0c0b08;
  background-color: #d6cf95;
  display: inline-block;
  font-family: "Cormorant Upright", serif;
  font-size: 25px;
  margin-top: 46px;
}
.content-side img {
  margin-top: 10px;
  margin-left: 0;
}
.section-inner {
  display: flex;
  align-items: center;
}
.content-side {
  margin-left: 185px;
}
.img-wrapper img {
  width: 600px;
  margin-left: 210px;
}
#fullpage {
  margin-top: 15px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #0c0b08;
}
@media (min-width: 1025px) and (max-width: 1441px) {
  .container {
    max-width: calc(100% - 150px);
  }
  header img {
    width: 150px;
  }
  nav ul a {
    font-size: 15px;
  }
  .buttons {
    gap: 50px;
  }
  .buttons a {
    font-size: 15px;
  }
  h1 {
    font-size: 64px;
    line-height: 100%;
  }
  .img-wrapper img {
    width: 450px;
    margin-left: 100px;
  }
  .content-side p {
    font-size: 21px;
  }
  .content-side .description {
    font-size: 16px;
  }
  .menu-button {
    padding: 15px 35px;
    font-size: 20px;
  }
  .hashtags p {
    font-size: 15px;
  }
  .content-side {
    margin-left: 165px;
  }
}
@media (min-width: 840px) and (max-width: 1024px) {
  .container {
    max-width: calc(100% - 120px);
  }
  .buttons {
    gap: 30px;
  }
  nav ul {
    gap: 30px;
  }
  .header-inner {
    padding: 15px 0px;
  }
  .content-side {
    margin-left: 60px;
  }
  .img-wrapper img {
    width: 350px;
    margin-left: 60px;
  }
  h1 {
    font-size: 64px;
    line-height: 1.2;
  }
  .content-side p {
    font-size: 20px;
  }
  .content-side .description {
    font-size: 14px;
    margin-top: 30px;
  }
  .menu-button {
    padding: 15px 45px;
    font-size: 20px;
    margin-top: 30px;
  }
  .hashtags p {
    font-size: 14px;
  }
  .hashtags {
    gap: 30px;
  }
  nav ul {
    font-size: 14px;
  }
  .buttons a {
    font-size: 14px;
  }
  .header-inner img {
    width: 150px;
  }
}
@media (min-width: 768px) and (max-width: 839px) {
  .container {
    max-width: calc(100% - 100px);
  }
  .header-inner {
    padding: 25px 0px;
  }
  .header-inner img {
    width: 130px;
  }
  nav ul {
    font-size: 14px;
    gap: 25px;
  }
  .buttons a {
    font-size: 14px;
  }
  .buttons {
    gap: 25px;
  }
  .content-side {
    margin-left: 50px;
  }
  .img-wrapper img {
    width: 300px;
    margin-left: 50px;
  }
  h1 {
    font-size: 54px;
    line-height: 1.2;
  }
  .content-side p {
    font-size: 18px;
  }
  .content-side .description {
    font-size: 14px;
    margin-top: 25px;
  }
  .menu-button {
    padding: 15px 40px;
    font-size: 20px;
    margin-top: 40px;
  }
  .hashtags p {
    font-size: 14px;
  }
  .hashtags {
    gap: 25px;
  }
}
@media (min-width: 768px) and (max-width: 839px) {
  .container {
    max-width: calc(100% - 60px);
  }
  nav ul {
    gap: 15px;
  }
  .buttons {
    gap: 15px;
  }
  .content-side {
    margin-left: 30px;
  }
  .img-wrapper img {
    width: 280px;
    margin-left: 30px;
  }
  h1 {
    font-size: 57px;
    line-height: 1.2;
  }
  .content-side p {
    font-size: 16px;
  }
  .content-side .description {
    font-size: 12px;
    margin-top: 20px;
  }
  .menu-button {
    padding: 12px 30px;
    font-size: 18px;
    margin-top: 30px;
  }
}
@media (min-width: 540px) and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  nav {
    display: none;
  }
  .container {
    max-width: calc(100% - 40px);
  }
  .buttons {
    display: none;
  }
  .header-inner img {
    width: 120px;
  }
  .header-inner {
    padding: 25px 0px;
  }
  .content-side {
    margin-left: 20px;
  }
  h1 {
    font-size: 48px;
    line-height: 1.2;
  }
  .hashtags {
    display: flex;
    gap: 20px;
    /* writing-mode: horizontal-tb;
  transform: none; */
    margin-left: 20px;
  }
  .img-wrapper img {
    width: 325px;
    margin-left: 345px;
  }
  .content-side p {
    font-size: 18px;
  }
  .content-side .description {
    font-size: 13px;
    margin-top: 20px;
  }
  .menu-button {
    padding: 11px 33px;

    font-size: 16px;
    margin-top: 30px;
  }
  .hashtags p {
    font-size: 13px;
  }
  .hashtags {
    gap: 20px;
  }
  .content-side {
    margin-left: 20px;
    position: fixed;
    margin-left: 60px;
  }
  html,
  body {
    overflow-x: hidden;
  }
}

@media (min-width: 425px) and (max-width: 539px) {
  .hashtags {
    gap: 20px;
  }
  .content-side {
    margin-left: 20px;
    position: fixed;
    margin-left: 60px;
  }
  html,
  body {
    overflow-x: hidden;
  }
  .hashtags p {
    font-size: 13px;
  }
  nav {
    display: none;
  }
  .container {
    max-width: calc(100% - 40px);
  }
  .buttons {
    display: none;
  }
  .header-inner img {
    width: 120px;
  }
  .img-wrapper img {
    display: none;
  }
  h1 {
    font-size: 38px;
    line-height: 1.2;
  }
  .content-side {
    margin-left: 40px;
  }
  .content-side p {
    font-size: 16px;
  }
  .content-side .description {
    font-size: 13px;
    margin-top: 20px;
  }
  .menu-button {
    padding: 12px 30px;
    font-size: 16px;
    margin-top: 30px;
  }
}

@media (min-width: 280px) and (max-width: 423px) {
  .header-inner {
    padding: 20px 0px;
  }
  .header-inner img {
    width: 100px;
  }
  .hashtags {
    gap: 20px;
  }
  .content-side {
    margin-left: 20px;
    position: fixed;
    margin-left: 60px;
  }
  html,
  body {
    overflow-x: hidden;
  }
  .hashtags p {
    font-size: 13px;
  }
  nav {
    display: none;
  }
  .container {
    max-width: calc(100% - 30px);
  }
  .buttons {
    display: none;
  }
  .header-inner img {
    width: 120px;
  }
  .img-wrapper img {
    display: none;
  }
  h1 {
    font-size: 38px;
    line-height: 1.2;
  }
  .content-side {
    margin-left: 30px;
  }
  .content-side p {
    font-size: 16px;
  }
  .content-side .description {
    font-size: 10px;
    margin-top: 8px;
  }
  .menu-button {
    padding: 10px 25px;
    font-size: 13px;
    margin-top: 20px;
  }
}
