* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #0c0b08;
}
ul li {
  list-style: none;
  text-decoration: none;
}
a {
  list-style: none;
  text-decoration: none;
}
.flex-side {
  display: flex;
  align-items: center;
}
.space {
  justify-content: space-between;
}
.container {
  max-width: 1708px;
  margin: 0 auto;
}
.header-inner {
  padding: 32px 0px;
}

nav ul {
  display: flex;
  gap: 35px;
  color: #fff;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}
nav a {
  color: #fff;
}
.buttons a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
}
.buttons {
  display: flex;
  gap: 100px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hashtags p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-style: 18px;
}
.hashtags {
  display: flex;
  gap: 40px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
.content-side p {
  color: #fff;
  font-family: "Cormorant Upright", serif;
  font-size: 26px;
}
h1 {
  font-family: "Cormorant Upright", serif;
  color: #d6cf95;
  font-size: 104px;
  margin: 0;
  margin-top: 10px;
  line-height: 130%;
  letter-spacing: 4.3px;
}
.content-side .description {
  color: #aaaaaa;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 37px;
  line-height: 175%;
}
.menu-button {
  padding: 20px 57px;
  color: #0c0b08;
  background-color: #d6cf95;
  display: inline-block;
  font-family: "Cormorant Upright", serif;
  font-size: 25px;
  margin-top: 46px;
}
.content-side img {
  margin-top: 10px;
  margin-left: 0;
}
.section-inner {
  display: flex;
  align-items: center;
}
.content-side {
  margin-left: 185px;
}
.img-wrapper img {
  width: 600px;
  margin-left: 210px;
}
#fullpage{
  margin-top: 15px;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #0c0b08; 
}
